<!-- List product -->
<div class="list-product-container">
  <div class="product-card row d-flex">
    <div class="col-md-4 mb-4 " *ngFor="let p of products">
      <div class="card-container card product-wap rounded-0">
        <div class="card rounded-0">

          <div class="product-sale" *ngIf="p.discount" >{{p.discount}}%</div>
          <img class="card-img rounded-0 img-fluid" src="{{p.thumb}}">
          <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
              <ul class="list-unstyled">
                <li class="icon-item-list"><a><mat-icon class="icon-product" aria-hidden="false" aria-label="Example home icon" fontIcon="visibility" (click)="viewDetail.emit(p._id)"></mat-icon></a></li>
                <li class="icon-item-list"><a><mat-icon class="icon-product" aria-hidden="false" aria-label="Example home icon" fontIcon="shopping_cart" (click)="addToCart.emit(p._id)"></mat-icon></a></li>
              </ul>
          </div>
      </div>
      <div class="card-body">
          <a class="h5 text-decoration-none" (click)="viewDetail.emit(p._id)">{{p.product_name | truncate:40}}</a>
          <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
              <li class="pt-2">
                <mat-icon class="star" aria-hidden="false" aria-label="Example home icon" fontIcon="star"></mat-icon>
                <mat-icon class="star" aria-hidden="false" aria-label="Example home icon" fontIcon="star"></mat-icon>
                <mat-icon class="star" aria-hidden="false" aria-label="Example home icon" fontIcon="star"></mat-icon>
                <mat-icon class="star" aria-hidden="false" aria-label="Example home icon" fontIcon="star"></mat-icon>
                <mat-icon class="star" aria-hidden="false" aria-label="Example home icon" fontIcon="star"></mat-icon>
              </li>
          </ul>

          <div class="price-product">
            <span class="original-price" *ngIf="p.original_price!==p.price">{{p.original_price}}</span>
            <span class="price">{{p.price}}</span>
          </div>
      </div>
      </div>

    </div>
  </div>
</div>
