::ng-deep snack-bar-container.snackbar {
    background: yellow;
}

::ng-deep .snackbar .mat-simple-snackbar-action {
    color: green;
}

.btn-primary {
    background-color: #850026;
    color: white;
}

.btn-primary:hover {
    background-color: #bd0035;
    color: white;
}
