
  <section>
    <div class="container">
        <div class="row" style="margin-top: 10px;">
          <h3></h3>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="about__item">
                    <h4 style="color: #850026; font-style: italic;">“Khi bạn buồn, hãy tô thêm son và tiếp tục chiến đấu” - Coco Chanel.</h4>
                    <p>Hàng này, bạn có thể gặp rất nhiều chuyện phiền phức, khiến cho tâm trạng không được tốt. Tuy nhiên, khi cảm thấy chán nản mà nhìn vào gương với khuôn mặt nhợt nhạt, kém sắc chắc chắn tình thần càng đi xuống hơn. Vì vậy, để có
                        động lực vượt qua mọi rào cản phía trước thì hãy thoa son điểm phấn một chút và tiếp tục chiến đấu nhé.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="about__item">
                    <h4 style="color: #850026; font-style: italic;">Nước hoa là một phần không thể thiếu giúp hoàn thiện nét tính cách của người phụ nữ – Christian Dior.</h4>
                    <p style="text-align: justify;">Mùi hương phảng phất trên cơ thể của người phụ nữ luôn là điều hấp dẫn người đối diện nhất. Nó sẽ phần nào thể hiện được tính cách, lối sống và suy nghĩ của người đó. Vì vậy, ngoài việc chăm sóc da cho bản thân, mua sắm những món
                        đồ phù hợp thì bạn cũng nên lựa chọn một mùi hương ưa thích. Những ấn tượng bên ngoài có thể chỉ xảy ra trong phút chốc, nhưng mùi hương sẽ khiến đối phương bâng khuâng cả đời. </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="about__item">
                    <h4 style="color: #850026; font-style: italic;">Freshie sẽ mang đến điều đẹp đẽ cho bạn</h4>
                    <p style="text-align: justify;">Hãy coi việc làm đẹp như một thói quen chứ không phải một công việc ép buộc hay có lý do nên phải làm. Tuổi xuân trôi qua quá nhanh và FRESHIE sẽ giúp bạn lưu giữ những khoảnh khắc rạng ngời.</p>
                </div>
            </div>
        </div>


    </div>
  </section>
  <!-- About Section End -->
  <section>
  </section>
  <!-- Testimonial Section Begin -->
  <section class="container testimonial" style="background-color: rgb(255, 255, 255); margin-top: 80px; width:80%">

    <h2 style=" color: #e09b05; font-weight: 800; padding-bottom: 50px;">CÂU CHUYỆN VỀ CÔ GÁI TÊN FRESHIE</h2>

    <div class="container-fluid">
        <div class="row">

            <div class="col-lg-6 p-0">
                <div class="testimonial__text">
                    <span class="icon_quotations" style="color: #850026;"></span>
                    <p style="font-size: 25px ; text-align: center;;">“ Thế kỷ 21 chứng kiến nhiều sự thay đổi của nhân loại đến từ cả kinh tế lẫn xã hội và chính trị.
                        Có thể thấy, xu hướng xã hội dần dần rộng mở và dễ dàng đón nhận những điều mới lạ cũng như sáng tạo hơn trước đó rất nhiều.
                        Và nhiều định kiến khác nhau của xã hội cũng từ đó mà mất dần đi.”
                    </p>
                </div>
            </div>
            <div class="col-lg-6 p-0">
                <div class="testimonial__pic set-bg" data-setbg="../img/about/story/freshie_story_2.jpg"></div>
            </div>

        </div>
        <div class="row" >
            <div class="col-lg-6 p-0">
                <div class="testimonial__pic set-bg" data-setbg="../img/about/story/freshie_story_1.jpg"></div>
            </div>
            <div class="col-lg-6 p-0">
                <div class="testimonial__text">
                    <span class="icon_quotations" style="color: #850026;"></span>
                    <p style="font-size: 25px ; text-align: center;;">“ Một trong những định kiến đó là về quyền bình đẳng giới tính.
                        Chúng ta có lẽ đã quá quen với thuật ngữ này.
                        Nhiều năm qua, tất cả hội liên hiệp phụ nữ và rất nhiều những tổ chức xã hội khác luôn đúng lên để thúc đẩy xóa bỏ định kiến phân biệt giới tính và thúc đẩy quyền bình đẳng của con người. ”
                    </p>
                </div>
            </div>

        </div>
    </div>
            <div class="row">

                <div class="col-lg-6 p-0">
                    <div class="testimonial__text">
                        <span class="icon_quotations" style="color: #850026;"></span>
                        <p style="font-size: 25px ; text-align: center;;">“ Lấy cảm hứng từ đó, Freshie được ra đời với một sứ mệnh như một người bạn đồng hành của phụ nữ trên bước đường của mình. Với tone màu Viva Magenta biểu trưng cho sức mạnh, sự hăng hái và lòng nhiệt huyết sẽ thúc đẩy tính năng động trong mỗi con người, để mỗi người dám mạnh mẽ thử nghiệm, dám khai phá những tiềm năng mới mẻ và tạo nên những bước đột phá trong cuộc đời mình. ”
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 p-0">
                    <div class="testimonial__pic set-bg" data-setbg="../img/about/story/freshie_story_5.jpg"></div>
                </div>

            </div>
  </section>
  <!-- Testimonial Section End -->

  <!-- Counter Section Begin -->
  <section class="counter spad" style="background-color: #ffffff; font-size: 30px; margin-top: 50px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="counter__item">
                    <div class="counter__item__number">
                        <h2 class="cn_num">100</h2>
                    </div>
                    <span>Tổng <br />Đối tác</span>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="counter__item">
                    <div class="counter__item__number">
                        <h2 class="cn_num">3000</h2>
                    </div>
                    <span>Tổng <br />Sản Phẩm</span>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="counter__item">
                    <div class="counter__item__number">
                        <h2 class="cn_num">20</h2>
                    </div>
                    <span>Cơ sở <br />Khắp Thế Giới</span>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="counter__item">
                    <div class="counter__item__number">
                        <h2 class="cn_num">98</h2>
                        <strong>%</strong>
                    </div>
                    <span>Độ <br />Hài Lòng </span>
                </div>
            </div>
        </div>
    </div>
  </section>
  <!-- Counter Section End -->
  <section>
    <img src="/img/banner/dior_banner_aboutus.webp">
  </section>

