.option-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 20px;
}

.show-option {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.filter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}

.filter div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}

table {
    min-width: 50%;
    width: 80%;
}

th {
    font-weight: 800;
    text-align: center;
}

img {
    width: 100px;
}

tr {
    padding: 10px;
}

td {
    width: 10%;
}

td:nth-child(2) {
    width: 60%;
}

.pagination-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.active button {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
}

.product-thumb {
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}

.pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.option-container mat-form-field {
    margin: 10px;
}

.filter button {
    margin: 0 10px;
    width: auto;
}
