<div class="container">
    <div class="left-container">
        <h1 class="container-title">
            Danh sách sản phẩm
        </h1>
        <div class="list-product" *ngFor="let item of orderList">

            <div class="product-item">
                <div class="product-image">
                    <img src="{{item.product.thumb}}" alt="" />
                </div>
                <div class="product-info">
                    <div class="product-name">
                        {{item.product.product_name}}
                    </div>
                    <div class="product-price">
                        {{item.product.price | number}}đ
                    </div>
                    <div class="product-quantity">
                        Số lượng: {{item.quantity}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="right-container">
        <div class="order-info">
            <h1 class="container-title">
                Thông tin đơn hàng
            </h1>
            <div class="order-info-detail">
                <div class="order-info-detail-title">
                    <p>Tổng tiền hàng:</p>
                    <p>Phí vận chuyển:</p>
                    <p>Tổng tiền:</p>
                </div>
                <div class="order-info-detail-value">
                    <p>{{totalPrice}} đ</p>
                    <p>0 đ</p>
                    <p>{{totalPrice}} đ</p>

                </div>
            </div>
        </div>

    </div>
</div>
<div class="shipping-info">
    <h1 class="container-title">
        Thông tin giao hàng
    </h1>
    <div class="shipping-info-detail">
        <form [formGroup]="deliveryForm" class="delivery-form">
            <mat-form-field appearance="outline">
                <mat-label>Tên người nhận</mat-label>
                <input formControlName="recipientName" matInput type="text" placeholder="Tên người nhận" />
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Tòa, tầng</mat-label>
                <input formControlName="shippingAddress1" matInput type="text" placeholder="Tòa, tầng" />
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Số nhà, tên đường</mat-label>
                <input formControlName="shippingAddress2" matInput type="text" placeholder="Số nhà, tên đường" />
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Thành phố/ Tỉnh</mat-label>
                <input formControlName="city" matInput type="text" placeholder="Thành phố/ Tỉnh" />
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Số điện thoại</mat-label>
                <input formControlName="phone" matInput type="text" placeholder="Số điện thoại" />
            </mat-form-field>
            <button class="btn-order" type="submit" (click)="createOrder()">Đặt hàng</button>
        </form>

    </div>
</div>
