<!-- banner hero start -->
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner" style="height: 650px;">
    <div class="carousel-item active">
      <img src="../../../../assets/img/banner_1.webp" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../../../assets/img/banner_2.webp" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../../../assets/img/banner_3.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
    <mat-icon class="text-dark" fontIcon="navigate_before"></mat-icon>
  </a>
  <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
    <mat-icon class="text-dark" fontIcon="navigate_next"></mat-icon>
  </a>
</div>
<!-- banner hero end -->

<!-- best seller section start -->
<section class="container py-5">
  <div class="row text-center pt-3">
      <div class="col-lg-6 m-auto">
          <h1 class="h1">Best seller</h1>
      </div>
  </div>
  <div class="row">
    <ec-carousel-product></ec-carousel-product>
  </div>
</section>
<!-- best seller section end -->
<!-- categories session start-->
<section class="container py-5">
  <div class="row text-center pt-3 mb-2">
      <div class="col-lg-6 m-auto">
          <h1 class="title-categories mb-2">What are you shopping today?</h1>
      </div>
  </div>
  <div class="row" style="justify-content: space-around;">
    <div class="categories-container col-2 align-items-center" *ngFor="let c of categories">
      <img class="category-image" src="{{c.image}}" alt="">
      <p class="category-name text-center">{{c.name}}</p>
    </div>
  </div>
<!-- categories session end-->
</section>
<!-- Testimonial Section Begin -->
<section class="testimonial" style="background-color: rgb(255, 255, 255); padding-top: 0px; padding-bottom: 80px; ">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-6 p-0">
              <div class="testimonial__text" style="margin-top: 130px;">
                  <span class="icon_quotations" style="color: #e09b05;"></span>
                  <p style="font-size: 16px ; text-align: center;;">“ Bắt đầu từ hi vọng mong muốn mang lại một nơi chuyên cung cấp những sản phẩm về mỹ phẩm, làm đẹp nhập khẩu chính hãng 100%, FRESHIE đang ngày càng hoàn thiện mình hơn và trên con đường đó vẫn vô cùng mong muốn có được
                      sự đồng hành từ quý khách hàng, từ những tâm hồn đồng điệu. ”
                  </p>
              </div>
          </div>
          <div class="col-lg-6 p-0" style="width: fit-content; height: fit-content;">
              <div class="testimonial__pic set-bg" data-setbg="../img/banner/chanel_product.png"></div>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-6 p-0">
              <div class="testimonial__pic set-bg" data-setbg="../img/banner/dior_makeup.webp"></div>
          </div>
          <div class="col-lg-6 p-0">
              <div class="testimonial__text" style="margin-top: 130px;">
                  <span class="icon_quotations" style="color: #e09b05;"></span>
                  <p style="font-size: 16px ; text-align: center;">“ FRESHIE không chỉ là nơi mang đến những sản phẩm chất lượng cho quý khách hàng, mà còn là người bạn đồng hành, sẵn sàng lắng nghe những nhu cầu và mong muốn của khách hàng thân yêu để ngày càng cải thiện chất lượng dịch
                      vụ và đa dạng sản phẩm hơn nữa. ”

                  </p>
              </div>
          </div>
          <div class="row">
              <div class="col-lg-6 p-0">
                  <div class="testimonial__text" style="margin-top: 130px;">
                      <span class="icon_quotations" style="color: #e09b05;"></span>
                      <p style="font-size: 16px ; text-align: center;;">“ Freshie được ra đời với một sứ mệnh như một người bạn đồng hành của phụ nữ trên bước đường của mình. Với tone màu Viva Magenta biểu trưng cho sức mạnh, sự hăng hái và lòng nhiệt huyết sẽ thúc đẩy tính năng động trong
                          mỗi con người, để mỗi người dám mạnh mẽ thử nghiệm, dám khai phá những tiềm năng mới mẻ và tạo nên những bước đột phá trong cuộc đời mình. ”
                      </p>
                  </div>
              </div>
              <div class="col-lg-6 p-0">
                  <div class="testimonial__pic set-bg" data-setbg="ecommerce-v1/src/assets/img/marcjacob_banner.jpg">
                  </div>

              </div>
          </div>
      </div>
  </div>

</section>
