<div class="Carts-container-second">
  <div class="Carts-container-second-detail">
    <div class="Carts-container-second-detail-top">
      <div class="Carts-container-top-first">
        <span class="Cart-product-title-top" >Product</span>
      </div>
      <div class="Carts-container-top-second">
        <span class="Cart-product-price-top" >Price</span>
      </div>
      <div class="Carts-container-top-third">
        <span class="Cart-product-number-top" >The number of product</span>
      </div>
      <div class="Carts-container-top-fourth">
        <span class="Cart-product-total-top" >Total</span>
      </div>
    </div>
    <div class="Carts-container-second-detail-middle" *ngFor="let item of carts">

      <div class="Carts-container-second-detail-middle-first">
        <input style="width: 20%;" type="checkbox" (change)="onCheckBoxChange($event, item)"/>
        <div style="width: 75%;">
          <img src="{{item.product.thumb}}" alt="" class="Cart-product-img">
          <p class="Cart-product-title">{{item.product.product_name}}</p>
        </div>
      </div>
      <div class="Carts-container-second-detail-middle-second">
        <span class="Cart-product-price">{{item.product.price}}</span>
      </div>
      <div class="Carts-container-second-detail-middle-third">
          <button class="Cart-product-number-minus">-</button>
          <input type="text" class="Cart-product-number-input" value="{{item.quantity}}" readonly>
          <button class="Cart-product-number-plus" >+</button>
      </div>
      <div class="Carts-container-second-detail-middle-fourth">
        <span class="Cart-product-total">{{item.product.price}}</span>
      </div>
    </div>
  </div>
</div>
<div class="button-container">
  <button class="btn-order" (click)="onOrderButtonClick()">
    Đặt hàng
  </button>
</div>

